body{
  font-family: 'Dancing Script', cursive;
  background-color: black;
}

@keyframes slidein-animacion {
	0% {
    margin-top: 150%;
  }
	60% {
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

#contenido{
  width: 900px;
  margin: 0 auto;

}

#encabezado{
  width: 100%;
  background-color: #5b7989;
  border-radius: 12px 12px 0 0;
  display: block;
  animation-name: slidein-animacion;
	animation-duration: 0.5s;
}

#titulo-principal{
  width: 80%;
  text-shadow: 2px 2px #02010a;
}

#titulo-principal, #desktop-menu > a{
  color: white;
  margin: 0;
  margin-right: 0;
  display: inline;
}

#desktop-menu{
  display: inline;
  padding-left: 45%;
  width: 20%;
}

#desktop-menu> a{
  padding: 0.5%;
}


@media(max-width: 900px) {
  #contenido{
    width: 100%;
  }

  #titulo-principal{
    text-align: center;
  }

  #desktop-menu > a {
    padding: 5%;
  }

  #desktop-menu, #titulo-principal{
    margin: 0 auto;
    display: block;
  }

  #desktop-menu{
    display: flex;
    flex-flow: row;
    width: 50%;
    padding-left: 0;
  }

}

img{
  box-shadow: 2px 2px #02010a;
}

#desktop-menu > #actual-page{
  text-decoration: none;
}

#imagen-principal {
  display: block;
  width: 100%;
  background-color: #82c3a6;
  margin: 0;
}

#imagen-principal > img{

  width: 80%;
  margin: 5% 10%;
}

#img-secundarias{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  flex-flow: row;
  background-color: #d5c75f ;
}

#img-secundarias > img{
  border: black solid 1px;
  width: 40%;
  height: 40%;
  margin: 5% auto;
}

@media (max-width:900px) {
  #img-secundarias{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: colum;
    flex-flow: colum;
  }
  #img-secundarias > img{
    width: 90%;
    margin: 5% auto;
  }
  #imagen-principal > img{
    width: 90%;
    margin: 5% 5%;
  }
}

#img-secundarias > img{
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

#img-secundarias > img:hover{
  box-shadow: 10px 10px #82c3a6;
  border: solid black 2px;
}

#img-izq:hover{
  transform: rotate(10deg);
}

#img-der:hover{
  transform: translate(20px,5px);
}

footer{
  display: flex;
  flex-flow: row;
}

footer > div{
  width: 25%;
  background-color: #C6d5c5;
  border-radius: 9px;
}

footer > h1{
  font-size: 1em;
}

footer > p{
  font-size: 0.5em;
}

footer > div > img{
  width: 20px;
  padding: 0 10%;
  box-shadow: none;
}

@media (max-width:900px) {
  footer{
    flex-flow: column;
  }
  footer > div{
    width: 100%;
  }

}


#galeria{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

#galeria > img{
  width: 25%;
  height: 25%;
  margin: 2% 4%;
}

#galeria > img:nth-child(1){
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

#galeria > img:nth-child(even){
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#galeria > img:nth-child(3){
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
}

@media (max-width:900px) {
  #galeria{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }
  #galeria > img{
    width: 90%;
    height: 90%;
    margin: 5% 5%;
  }

}
